<div class="container-fluid hero-img">
	<%= image_tag("gb_neon.jpg", class: "img-responsive video-overlay") %>
</div>

<div class="container blurb">
	<p>"Someday, we'll all live as one family in perfect harmony"</p>
</div>

<!-- <div class="container-fluid hero-img">
  <img src="img/gb_neon.jpg" class="img-responsive video-overlay">
</div> -->
