<p id="notice"><%= notice %></p>

<h1>People</h1>

<div class="wrap">
  <div class="container">
    <div class="row people">

      <% @people.each do |person| %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 person">
          <div class="artist-img">
            <%= link_to image_tag(person.image_url, class: "img-responsive"), person %>
            <span class="name"><%= person.name %></span>
          </div>
        </div>
      <% end %>

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 person">
          <div class="artist-img">
            <%= link_to image_tag("transparent.png", class: "img-responsive"), new_person_path %>
            <span class="add"><span class="plus">+</span><br>New Person</span>
          </div>
        </div>

    </div><!-- row // -->
    
  </div><!-- container // -->
</div><!-- wrap // -->



