<div class="header">
  <h1>New Person</h1>
</div>

<div class="wrap">
	<div class="container edit-form">
		<%= render 'form', person: @person %>
		<div class="row">
	    <div class="col-xs-3"></div>
	    <div class="col-xs-9">
				<%= link_to 'Back', people_path %>
	    </div>
	  </div>
	</div>
</div>


