<h1>Editing Event</h1>

<div class="wrap">
	<div class="container edit-form">
		<%= render 'form', event: @event %>
		<div class="row">
	    <div class="col-xs-3"></div>
	    <div class="col-xs-9">
	      	<%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %> | 
			<%= link_to 'Back to List', events_path %>
	    </div>
	  </div>
	</div>
</div>
