<h1>Editing Album</h1>

<div class="wrap">
	<div class="container edit-form">
		<%= render 'form', album: @album %>
		<div class="row">
	    <div class="col-xs-3"></div>
	    <div class="col-xs-9">
			<%= link_to 'Back', music_path %>
	    </div>
	  </div>
	</div>
</div>
