<h1>New Home</h1>

<div class="wrap">
	<div class="container edit-form">
		<%= render 'form', home: @home %>
		<div class="row">
	    <div class="col-xs-4"></div>
	    <div class="col-xs-8">
				<%= link_to 'Back', root_path %>
	    </div>
	  </div>
	</div>
</div>
