/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap-sprockets";
@import "bootstrap";

/*ITC Serif Gothic Font Import*/

@font-face{
  font-family:"ITC Serif Gothic W01 Light";
  src:font-url("b48153ff-91ec-4a5e-984c-f18f2131fdcd.eot?#iefix");
  src:font-url("b48153ff-91ec-4a5e-984c-f18f2131fdcd.eot?#iefix") format("eot"),font-url("0bb0fed2-c048-479d-b066-6e827220acfd.woff2") format("woff2"),font-url("947a585d-09d8-4c06-9210-ad3c83d2a5c3.woff") format("woff"),font-url("7db29c7f-eca8-44ad-a1a9-b67084e525e9.ttf") format("truetype");
}
@font-face{
  font-family:"ITC Serif Gothic W01 Regular";
  src:font-url("b43886e2-e680-4298-a1d3-04a98e443c58.eot?#iefix");
  src:font-url("b43886e2-e680-4298-a1d3-04a98e443c58.eot?#iefix") format("eot"),font-url("8267519e-38e1-42b7-b339-a79d3cde5002.woff2") format("woff2"),font-url("606558f4-4199-4bb9-ab0b-4dd3f367aadf.woff") format("woff"),font-url("137f2c49-985f-452d-b750-3add9d73c43b.ttf") format("truetype");
}
@font-face{
  font-family:"ITC Serif Gothic W01 Bold";
  src:font-url("8a93a51e-d42c-4af6-820d-916a3af90843.eot?#iefix");
  src:font-url("8a93a51e-d42c-4af6-820d-916a3af90843.eot?#iefix") format("eot"),font-url("00cca847-1c2d-4f4f-8f48-2aa716baf319.woff2") format("woff2"),font-url("bfc6196d-ff5b-4479-bee4-2fb7ea160473.woff") format("woff"),font-url("2c63e36c-a575-4dc4-8474-6f85d3907f11.ttf") format("truetype");
}
@font-face{
  font-family:"ITC Serif Gothic W01 Heavy";
  src:font-url("1c9817e8-6c4f-480e-9999-821b4ab1d758.eot?#iefix");
  src:font-url("1c9817e8-6c4f-480e-9999-821b4ab1d758.eot?#iefix") format("eot"),font-url("b8981b27-2dd0-4731-88f9-52738a42cb19.woff2") format("woff2"),font-url("536ef3e6-82f2-458f-b5bb-e3401fe9046f.woff") format("woff"),font-url("eccf0052-e433-427e-8256-6fe092957d93.ttf") format("truetype");
}

body {
  color: #000;
  background-color: #000;
  font-family: "ITC Serif Gothic W01 Regular", Georgia, "Times New Roman", serif;
  font-size: 150%;
  text-align: center;
  margin: 0;
}

.red {
  color: red;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #000;
  z-index: 3;
}

.brand {
  position: fixed;
  top: 22px;
  left: 26px;
  width: 120px;
}

.wrap {
  padding: 200px 0;
  background-color: #fff;
  color: #000;
}

.container-fluid {
  padding: 0;
}

.mob-show {
  display: none;
}

button,
.listen,
.actions > input {
  border: 0;
  background-color: #d10028;
  padding: 7px 18px;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 1.2em;
}

button,
button > a,
.listen > a,
.actions > input {
  color: #fff;
}

button:hover,
.actions > input:hover,
button > a:hover {
  background-color: #000;
  color: #fff;
}

.null:hover,
.null > button:hover {
  cursor: default;
  box-shadow: 0;
}

.null button,
button.null {
  background-color: #555;
}

.notice,
.alert {
  position: absolute;
  width: 100%;
  top: 0;
}

/*FORMS*/

.edit-form {
	text-align: left;
	max-width: 740px !important;
	margin: 0 auto;
}

.edit-form label {
	display: inline-block;
	padding: 10px 0;
}

.edit-form input,
.edit-form textarea,
.edit-form select {
	width: 100%;
	padding: 8px;
}

.edit-form select {
  height: 34px;
  background-color: #fff;
}

.edit-form textarea {
	height: 240px;
}

select#event_date_1i,
select#event_date_2i,
select#event_date_3i {
  width: 32.5%;
}

input[type="radio"], input[type="checkbox"] {
  width: auto !important;
  display: inline;
  margin-right: 4px;
}

/*HOMEPAGE*/

#home-body {
	background-color: #000;
	color: #fff;
}

.blurb {
	padding: 60px 30px 0px;
	max-width: 970px;
  font-size: 1.8em;
  line-height: 1.2em;
  position: relative !important;

}

a:focus {
  outline: none !important;
}

.placeholder-square {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  background-color: #000;
}


/*HOMEPAGE VIDEO*/

.video-container {
	position: relative;
}

.video-overlay {
	position: absolute;
  height: 100%;
	width: auto;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
	transform: translate(-50%, -50%);
  max-width: 1200px;
}

.hero-img {
  position: relative;
  height: 80vh;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; 
}


/*NAVAGATION*/

#burger {
	display: none;
}

body h1 > span {
  text-transform: none;
  opacity: 0.5;
  font-weight: 300;
  font-size: 12px;
}
body input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 30px;
  z-index: 5;
}
body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #fff;
  transition: 0.5s;
}
body input + label span:first-child {
  top: 4px;
}
body input + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body input:checked + label span {
  opacity: 0;
  top: 50%;
}
body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
body input ~ nav {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  z-index: 4;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}

body input ~ nav.home-nav {
  height: 1px;
  margin-top: -1px;
}
body input ~ nav > ul {
  font-size: 0.8em;
  text-align: center;
  position: absolute;
  top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
	transform: translate(-50%, -50%);
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "ITC Serif Gothic W01 Heavy", Georgia, "Times New Roman", serif;
  font-size: 5em;
  line-height: 1.3em;
  display: block;
  display: inline-block;
}
body input:checked ~ nav {
  height: 105%;
  transition-delay: 0s;
}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
}

.socials {
	margin-top: 40px;
}

.socials img {
  height: 44px;
  margin: 0 2px;
}

.socials > a:hover {
	box-shadow: none;
}

/*SUBSCRIBE FORM*/

#mc_embed_signup input, .response {
  border: none;
  border-radius: 0;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
}

#mc_embed_signup input:focus,
button:focus {
  border: none;
  box-shadow: none !important;
  outline: none;
}

#mc_embed_signup input#mce-EMAIL {
  margin: 20px 0 10px;
  background-color: #000;
  border-bottom: 1px dotted #fff;
}

#mc_embed_signup input#mc-embedded-subscribe {
  padding: 10px;
  font-family: "ITC Serif Gothic W01 Heavy", Georgia, "Times New Roman", serif;
  font-size: 1.5em;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  transition: 0.2s;
}

#mc_embed_signup input#mc-embedded-subscribe:hover {
  background-color: #fff;
  color: #000;
}

/*FOOTER*/

.footer {
  color: #fff;
  background-color: #000;
  padding: 22px 0 20px;
  width: 100%;
  font-size: 0.7em;
}

.footer img {
  width: 85px;
  margin-right: 10px;
}

/*EVENTS PAGE*/

.event {
  text-align: left;
  margin-bottom: 64px;
  position: relative;
}

.event .tickets {
  position: absolute;
  width: 90%;
  bottom: 0;
  border-top: 1px solid #000;
}

.event button {
  margin-top: 15px;
  margin-right: 2px;
}

.event img,
.person img {
  width: 100%;
  height: auto;
  transition: 0.5s;
}

.event ul {
  margin-bottom: 75px;
}

.event h2 {
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.event ul {
  font-size: 1.6em;
  line-height: 1em;
}

span.sub {
  font-size: 0.5em;
  line-height: 0.5em;
  font-family: "ITC Serif Gothic W01 Bold", Georgia, "Times New Roman", serif;
}


/*PEOPLE PAGE*/

.people {
  margin-left: -1px;
  margin-right: -1px;
}

.person {
  padding-right: 1px;
  padding-left: 1px;
  margin-bottom: 2px;
  outline: none !important;
  box-shadow: none !important;
}

  /*MODALS*/

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .modal {
    position: fixed !important;
    margin-top: 100px;
    padding: 100px 0;
    z-index: 2;
  }

  .modal-dialog {
    width: 100%;
    margin: 0;
  }

  .modal-content {
    border: 0;
    border-radius: 0;
    width: 1140px;
    margin: 0 auto;
    box-shadow: none;
  }      

  .modal-info {
    text-align: left;
  }   

  .modal-body,
  .modal-body > .row > div {
    padding: 0;
  }

  .modal-info {
    padding: 0 45px;
  }

  .modal-img {
    padding: 0;
  }

  .modal-backdrop {
    background-color: #fff;
    opacity: 1 !important;
    z-index: 1;
  }

  .close {
    position: absolute;
    top: -16px;
    right: 26px;
    font-size: 3.5em;
    opacity: 1;
    font-weight: normal;
    font-family: "ITC Serif Gothic W01 Light", Georgia, "Times New Roman", serif;
    z-index: 1;
    text-shadow: none;
  }

  .close:hover {
    background-color: transparent;
    color: #000;
    opacity: 0.5;
  }

  /*CAROUSEL*/

  .carousel-control,
  .carousel-control:hover,
  .carousel-control:focus,
   .carousel-control:active {
    color: #000;
    text-shadow: none;
    opacity: 1;
    width: 10%;
  }

  .carousel-control.right,
  .carousel-control.left {
    background-image: none;
  }

  .carousel-control.left {
    left: -7%;
  }

  .carousel-control.right {
    right: -7%;
  }


  .glyphicon-triangle-right,
  .glyphicon-triangle-left {
    top: 285px;
  }

  /*HOVER OVER*/

  .artist-img img:hover {
  opacity: 0.4;
  transition: 600ms;
  -webkit-transition: 600ms;
  cursor: pointer;
}

.name,
.add {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  color: #fff !important;
  font-family: "ITC Serif Gothic W01 Bold", Georgia, "Times New Roman", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  pointer-events: none;
}

.name {
	display: none;
}

.plus {
	font-size: 44px;
}
      

/*MUSIC PAGE*/

.albums,
.singles,
.radio-show {
  margin-bottom: 60px;
}

.singles .row {
  margin-right: -1px;
  margin-left: -1px;
}

.single {
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 2px;
}

.more-episodes {
  margin-right: -5px;
  margin-left: -5px;
}

.more-episodes > div {
  padding-right: 5px;
  padding-left: 5px;
}

.buy-links,
.more-link {
  margin-top: 16px;
}

.listen {
  display: inline-block;
  margin-top: 4px;
}

.listen.extra {
  margin-top: 4px;
}

.music-img {
  padding: 0;
}

.music-socials {
  position: absolute;
  bottom: 0;
}
/*TYPOGRAPHY*/

a {
  text-decoration: none !important;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
	color: #fff !important;
}

nav a:visited,
nav a:hover,
nav a:active {
  text-decoration: none !important;
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em #000,
    inset 0 -0.2em #fff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1, 
h2, 
.event ul {
  font-family: "ITC Serif Gothic W01 Heavy", Georgia, "Times New Roman", serif;
}

h1 {
	text-transform: uppercase;
	font-size: 3.7em;
  color: #fff;
}

h1, 
h2 {
  margin-bottom: 20px;
}

h2 {
  text-align: left;
}

h2 > p {
  margin-bottom: 0;
}

.event ul {
  text-transform: uppercase;
  margin-bottom: 75px;
}

h3,
h4,
.event h2 {
  font-family: "ITC Serif Gothic W01 Bold", Georgia, "Times New Roman", serif;
}

.event h2 {
  font-size: 1.4em;
}

h3 {
  margin-top: -0.6em;
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.singles h2,
.modal-info h2 {
  font-size: 3.2em;
}

.singles h2 {
  margin-top: -20px;
}

.modal-info h2 {
  margin-top: 0;
  padding-right: 24px;
  line-height: 0.9em;
}

.modal-info .q {
  font-family: "ITC Serif Gothic W01 Heavy", Georgia, "Times New Roman", serif;
}

.more-link > a {
  font-family: "ITC Serif Gothic W01 Bold", Georgia, "Times New Roman", serif;
  color: #000;
  border-bottom: 1px dotted #000;
}

.more-link > a:hover {
  border-bottom: 1px solid #000;
}

.footer p span {
  font-family: "Helvetica Neue", Arial, sans-serif;
}




/*Extra large devices (large desktops)*/
/*No media query since the extra-large breakpoint has no upper bound on its width*/

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

	body input ~ nav > ul {
		font-size: 0.7em;
	}

	/*MODALS*/

	.modal-content {
		width: 960px;
	}

	.modal-info {
		padding: 0 25px;
	}

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

  /*MODALS*/

  .modal-img,
  .modal-info {
    padding-left: 5px;
    padding-right: 5px;
  }

  .modal-content,
  .albums,
  .singles,
  .radio-show {
    width: 90%;
  }

  .modal-info {
    padding-top: 25px;
    padding-bottom: 45px;
  }

  .close {
    color: #fff;
    top: -4px;
    right: 8px;
  }

  .close:hover {
    color: #fff;
  }

  .glyphicon-triangle-right,
  .glyphicon-triangle-left {
    top: 330px;
  }

  .mob-hide {
    display: none;
  }

  .mob-show {
    display: block;
  }

}


/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) { 





 }

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

	body {
		font-size: 130%;
	}

	.wrap {
		padding: 100px 0;
	}

	.brand {
		top: 15px;
    left: 14px;
    width: 70px;
	}


  /*HOMEPAGE*/

  .video-overlay {
    height: auto;
    width: 100%;
  }

	/*NAV*/

		.header {
			height: 60px;
		}

		body .header h1 {
			margin-top: 10px;
			font-size: 2.9em; 
		}

		body input ~ nav > ul {
			font-size: 0.7em;
		}

		.socials {
			margin-top: 40px;
		}

		.socials > a:hover {
			box-shadow: none;
		}

    .socials img {
      height: 28px;
      margin: 0 1px;
    }

		body input + label {
		  top: 20px;
		  right: 20px;
		  height: 20px;
		  width: 25px;
		  z-index: 5;
		}

	/*MODAL*/

	.modal {
		margin-top: 50px;
		padding: 50px 0;
	}

	/*EVENTS*/

	.events {
		font-size: 0.7em;
	}

	.event {
		padding-right: 5px;
		padding-left: 5px;
		margin-bottom: 34px;
	}

	.event button {
		padding: 5px 12px;
		font-size: 1.4em;
	}

	.event ul {
	  margin-bottom: 60px;
	}

	/*MUSIC*/


  .glyphicon-triangle-right,
  .glyphicon-triangle-left {
    top: 150px;
  }
}

/*XX small devices (portrait phones, less than 420px)*/
@media (max-width: 420px) {

	/*NAV*/
		body input ~ nav > ul {
			font-size: 0.6em;
		}

	#mc_embed_signup {
		font-size: 1.6em;
	}


}